{% extends 'layout.html' %}
{{ super() }}
{% block body %}
    <div class="dashboard">
        <h2>Welcome {{session.username}}</h2><br>
            <a class="btn btn-success" href="/add_item" style="color: white;"> Add a task</a>
            <hr>
            <table class="table table-striped">
                <tr>
                <th>Title</th>
                <th></th>
                <th></th>
                </tr>
                {% for i in list %}
                <tr>
                    <td>{{i.title}}<a href="item/{{i.id}}"><span style="font-size: 1rem;">(click)</span></a></td>
                    <td><a href="edit_item/{{i.id}}" class="btn btn-default pull-right">Edit</a></td>
                    <td>
                        <form action="{{url_for('delete_item', id=i.id)}}" method="post">
                            <input type="submit" value="&#10008">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
    </div>
  
{% endblock %}